/*Globales*/
.background-negro {
  background-color: Black;
  height: 600px; }

.background-azul {
  background-color: #002FD1;
  height: 600px; }

.background-rojo {
  background-color: #d10000;
  height: 600px; }

.background-amarillo {
  background-color: #fffb00;
  height: 600px; }

.background-blanco {
  background-color: #ffffff;
  height: 600px; }

/*Normalize*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #7a090f !important;
  font-size: 20px; }

html {
  position: relative; }

.contenedorEntero {
  background-image: url(../IMG/background-section.jpg);
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80px auto 20vh;
  gap: 0px 0px;
  grid-template-areas: "Header Header Header" "Main Main Main" "Footer Footer Footer"; }

/*Mixins*/
/*Partials*/
/*Header*/
.contenedor {
  grid-area: Header;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding-right: 10px;
  background-color: black;
  z-index: 1; }

.logo {
  width: 10%; }

.nombre {
  font-size: 3em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  -webkit-text-stroke: 2px black;
  display: inline-block;
  height: 100px;
  z-index: 2;
  position: absolute;
  top: 10%; }

.navbar {
  z-index: 1;
  border-bottom: 1px solid;
  border-color: #970000;
  background-color: black;
  padding-top: 0% !important;
  padding-bottom: 0% !important;
  width: 100vw; }

.collapse {
  justify-content: end; }

.nav-item {
  background-color: black; }

.nav-link {
  margin: 5px; }
  .nav-link:hover {
    border-radius: 5px;
    border: 1px solid;
    border-color: #970000; }

.TextoMenu {
  margin: 0; }

.selected {
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid;
  border-color: #7a090f; }

/* Animaciones del Header*/
.bounce {
  animation: bounce;
  animation-duration: 1.5s; }

@keyframes bounce {
  25% {
    margin-top: 10px; }
  30% {
    margin-top: 5px; }
  50% {
    margin-top: 30px; }
  55% {
    margin-top: 25px; }
  75% {
    margin-top: 40px; }
  90% {
    margin-top: 35px; } }

.coming {
  animation: coming;
  animation-duration: 1.5s; }

@keyframes coming {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

/*Footer*/
.contenedorf {
  background-color: black;
  overflow-x: auto;
  overflow-y: hidden;
  grid-area: Footer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  width: 100%;
  border-top: 3px solid;
  border-color: #970000;
  padding: 10px; }

footer .listaDatos {
  font-weight: bolder;
  list-style: none;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0%;
  padding: 0%; }

footer ul .lista {
  -webkit-text-stroke: 1px rgba(214, 127, 127, 0.5); }

.Iconos {
  list-style: none;
  margin: 20px; }
  .Iconos li {
    padding: 5px; }

/*Views*/
/*Index*/
section {
  padding: 15px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: Main;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  position: relative; }

h2 {
  font-size: 2.5em;
  text-align: center;
  padding: 15px; }

.carousel-item img {
  width: 50vw;
  z-index: -1; }

.parrafocentrado {
  text-align: center;
  width: 80vw;
  margin: 5vh auto;
  border: 2px solid;
  color: #000000 !important;
  padding: 10px;
  border-color: #7a090f;
  border-radius: 5px;
  background-color: #bbb8b8; }

/*Nosotros*/
.sectionNosotros {
  min-height: 150vh; }

.imagencostado {
  width: 35vw;
  padding: 10px; }

.centrado {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px; }

.imagencostado {
  width: 30vw; }

.articuloNosotros {
  display: flex;
  flex-direction: row; }
  .articuloNosotros p {
    text-align: start;
    margin: auto;
    border: 2px solid;
    color: #000000 !important;
    padding: 10px;
    border-color: #7a090f;
    border-radius: 5px;
    background-color: #bbb8b8; }

/* Productos*/
section video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1; }

.section__products {
  justify-content: center;
  font-weight: bolder;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  padding: 0%;
  overflow-x: hidden; }

.inline-block {
  display: inline-block;
  width: 40vw !important; }

.productsTitle {
  width: 100vw; }

.productsTitle__title, .products__product__title {
  color: #ffee00 !important;
  font-size: 2.5em;
  margin-top: 20vh; }

.productsTitle__subTitle, .products__product__ingredients {
  text-align: center;
  color: white !important;
  border-bottom: 2px solid;
  border-color: #ffee00;
  padding-bottom: 15px; }

.products__product {
  border: 2px solid;
  border-color: #ffee00;
  margin: 15px;
  max-width: 90vw; }

.products__product__title {
  border-bottom: 2px solid;
  border-color: #ffee00;
  font-size: 1.5em;
  padding: 0;
  margin: 0; }

.products__product__ingredients {
  border-bottom: 0px;
  padding: 3px; }

.products__product__price {
  font-size: 2em;
  font-weight: bolder;
  color: #db0404 !important; }

.products__chips {
  font-weight: bolder;
  color: #ffee00 !important;
  text-align: center; }

.extras__product {
  color: white !important;
  font-size: 0.8em; }

.extras__price {
  font-weight: bolder;
  color: #db0404 !important; }

/*Otros Productos/Ofertas*/
.row {
  justify-content: center; }

.section__promotions {
  justify-content: center;
  font-weight: bolder;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-x: hidden; }

.promotionsTitle {
  width: 100vw; }

.promotionsTitle__title, .promotions__promotion__title {
  color: #ffee00 !important;
  font-size: 2.5em; }

.promotionsTitle__subTitle, .promotions__promotion__description {
  text-align: center;
  color: white !important;
  border-bottom: 2px solid;
  border-color: #ffee00;
  padding-bottom: 15px; }

.promotions__promotion {
  border: 2px solid;
  border-color: #ffee00;
  margin: 15px;
  max-width: 70vw !important; }

.promotions__promotion__title {
  border-bottom: 2px solid;
  border-color: #ffee00;
  font-size: 1.5em;
  padding: 0; }

.promotions__promotion__description {
  border-bottom: 0px; }

.promotions__promotion__price {
  font-size: 2em;
  font-weight: bolder;
  color: #db0404 !important; }

/*Hace un Pedido*/
form div {
  padding: 10px; }
  form div select {
    color: #000000 !important; }
  form div button {
    color: #000000 !important; }

/*Queries*/
@media screen and (max-width: 480px) {
  .nombre {
    font-size: 1.6em !important;
    font-weight: bolder; }
  .nav-link {
    font-size: 13px;
    padding: 5px !important; }
  h2 {
    font-size: 2em; }
  table th {
    font-size: 14px; }
  table td {
    font-size: 13px; }
    table td img {
      width: 80px; }
    table td li {
      font-size: 12px; }
  footer ul .lista {
    margin: 5px; } }

@media screen and (max-width: 768px) {
  .hamburguers {
    flex-direction: column; }
  .inline-block {
    width: 100vw !important; } }

@media screen and (max-width: 768px) {
  .nombre {
    font-size: 2em; }
  * {
    font-size: 18px; } }

@media screen and (max-width: 1100px) {
  .articuloNosotros {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .sectionNosotros {
    min-height: 200vh; }
  .imagencostado {
    width: 70vw; }
  .parrafo2 {
    order: 1; }
  .nombre {
    font-size: 2.5em; } }
