@charset "UTF-8";
/*Globales*/
/*Normalize*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #7a090f !important;
  font-size: 20px; }

html {
  position: relative;
  max-width: 100vw; }

.contenedorEntero {
  background-image: url(../IMG/background-section.jpg);
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20vh 1fr 20vh;
  gap: 0px 0px;
  grid-template-areas: "Header Header Header" "Main Main Main" "Footer Footer Footer"; }

/*Partials*/
.contenedor {
  grid-area: Header;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100vw;
  max-height: 120px;
  position: fixed;
  padding-right: 10px;
  background-color: black;
  margin: 0;
  z-index: 1; }

.logo {
  width: 10%; }

.nombre {
  font-size: 3em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  -webkit-text-stroke: 2px black;
  display: inline-block;
  height: 100px;
  z-index: 2;
  position: absolute;
  top: 10%; }

.navbar {
  z-index: 1;
  border-bottom: 1px solid;
  border-color: #970000;
  background-color: black;
  padding-top: 0% !important;
  padding-bottom: 0% !important;
  width: 100vw; }

.collapse {
  justify-content: end; }

.nav-item {
  background-color: black; }

.nav-link:hover {
  border-radius: 5px;
  border: 1px solid;
  border-color: #970000; }

.TextoMenu {
  margin: 0; }

.selected {
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid;
  border-color: #7a090f; }

/* Animaciones del Header*/
.bounce {
  animation: bounce;
  animation-duration: 1.5s; }

@keyframes bounce {
  25% {
    margin-top: 10px; }
  30% {
    margin-top: 5px; }
  50% {
    margin-top: 30px; }
  55% {
    margin-top: 25px; }
  75% {
    margin-top: 40px; }
  90% {
    margin-top: 35px; } }

.coming {
  animation: coming;
  animation-duration: 1.5s; }

@keyframes coming {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

.contenedorf {
  background-color: black;
  overflow-x: auto;
  overflow-y: hidden;
  grid-area: Footer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  width: 100%;
  border-top: 3px solid;
  border-color: #970000; }

footer .listaDatos {
  font-weight: bolder;
  list-style: none;
  height: 55%; }

footer ul .lista {
  margin: 10px;
  padding-right: 12px;
  -webkit-text-stroke: 1px rgba(214, 127, 127, 0.5); }

.Iconos {
  list-style: none;
  margin: 10px; }

/*Views*/
section {
  padding: 15px;
  max-height: 300vh;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: Main;
  justify-content: space-around; }

h2 {
  font-size: 3em;
  text-align: center;
  padding: 15px; }

.carousel-item img {
  width: 50vw;
  z-index: -1; }

.parrafocentrado {
  text-align: center;
  width: 80vw;
  margin: 5vh auto;
  border: 2px solid;
  color: #000000 !important;
  padding: 10px;
  border-color: #7a090f;
  border-radius: 5px;
  background-color: #bbb8b8; }

.imagencostado {
  width: 35vw;
  padding: 10px; }

.centrado {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px; }

.imagencostado {
  width: 30vw; }

.sectionNosotros {
  height: 250vh; }

.articuloNosotros {
  display: flex;
  flex-direction: row; }
  .articuloNosotros p {
    text-align: center;
    margin: auto;
    border: 2px solid;
    color: #000000 !important;
    padding: 10px;
    border-color: #7a090f;
    border-radius: 5px;
    background-color: #bbb8b8; }

/* El de otros productos tambíen lo puse acá, llevan el mismo formato*/
.imagenProductos {
  width: 40vw;
  padding: 3px;
  z-index: -1; }

.row {
  justify-content: center; }

.section__promotions {
  justify-content: center; }

.promotionsTitle {
  width: 100vw; }

.promotionsTitle__title, .promotions__promotion__title {
  color: darkgoldenrod !important; }

.promotionsTitle__subTitle, .promotions__promotion__description {
  text-align: center;
  color: white !important;
  border-bottom: 2px solid;
  border-color: darkgoldenrod;
  padding-bottom: 15px; }

.promotions__promotion {
  border: 2px solid;
  border-color: darkgoldenrod;
  margin: 15px;
  max-width: 70vw !important; }

.promotions__promotion__title {
  border-bottom: 2px solid;
  border-color: darkgoldenrod;
  padding: 0; }

.promotions__promotion__description {
  border-bottom: 0px; }

.promotions__promotion__price {
  font-size: 2em;
  font-weight: bolder; }

form div {
  padding: 10px; }
  form div select {
    color: #000000 !important; }
  form div button {
    color: #000000 !important; }

/*Queries*/
@media screen and (max-width: 480px) {
  .nombre {
    font-size: 1.6em !important; }
  .nav-link {
    font-size: 13px;
    padding: 5px !important; }
  h2 {
    font-size: 2em; }
  table th {
    font-size: 14px; }
  table td {
    font-size: 13px; }
    table td img {
      width: 80px; }
    table td li {
      font-size: 12px; }
  footer ul .lista {
    margin: 5px; } }

@media screen and (max-width: 768px) {
  .nombre {
    font-size: 2em; }
  * {
    font-size: 18px; } }

@media screen and (max-width: 941px) {
  .articuloNosotros {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .imagenProductos {
    width: 90vw;
    padding: 3px; }
  .imagencostado {
    width: 70vw; }
  .parrafo2 {
    order: 1; }
  .imagenPromociones {
    width: 90vw; } }

@media screen and (min-width: 769px) and (max-width: 941px) {
  .sectionNosotros {
    height: 200vh; }
  .nombre {
    font-size: 2.5em; } }
