/*Footer*/
.contenedorf {
    background-color: black;
    overflow-x: auto;
    overflow-y: hidden;
    grid-area: Footer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    width: 100%;
    border-top: 3px solid;
    border-color:rgb(151, 0, 0) ;
  }
  
footer{ .listaDatos  {
    font-weight: bolder; 
    list-style:none;
    height: 80%; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0%;
    padding: 0%;
  }                                     
  
    
        ul .lista {
    -webkit-text-stroke: 1px rgba(214, 127, 127, 0.5);}
} 
    
.Iconos { 
    list-style:none; 
    margin: 20px;
    
    li{padding: 5px;}

  }