/*Index*/
section {
    padding:15px;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    grid-area: Main;
    justify-content: space-around;
    @include flex (column, space-around, center);
  }
  
 
  
  h2 {
    font-size: 2.5em;
    text-align: center;
    padding: 15px;
  }   
  .carousel-item img{
    width: 50vw;
    z-index: -1;
  }  
  .parrafocentrado { 
    text-align: center;
    width: 80vw;
    margin:  5vh auto;
    border: 2px solid;
    color: #000000!important;
    padding: 10px;
    border-color: rgb(122, 9, 15);
    border-radius: 5px;
    background-color: rgb(187, 184, 184);
  }