/*Nosotros*/
.sectionNosotros{
  min-height: 150vh;
  max-width: 100vw;
}
.imagencostado { 
    width: 35vw;
    padding: 10px;
  }
  .centrado{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }
  .imagencostado{
    width: 30vw;
    
  } 

  .articuloNosotros {
    display: flex;
    flex-direction: row;

     p {
      text-align: start;
      margin: 50px 0px 100px 0px;
      border: 2px solid;
      color: #000000!important;
      padding: 10px;
      border-color: rgb(219, 4, 4);
      border-radius: 5px;
      background-color: rgb(187, 184, 184);}    
  }
 