/* Productos*/

.section__products{
  justify-content: center;

  
}
.inline-block{
  display: inline-block;
  width: 40vw!important;
}
.productsTitle{
  width: 100vw;
}
 .productsTitle__title{
  color: darkgoldenrod!important;
  font-size: 2.5em;
  margin-top: 20vh;
    }
  
    .productsTitle__subTitle{
  text-align: center;
  color: white!important;
  border-bottom: 2px solid;
  border-color: darkgoldenrod;
  padding-bottom: 15px;
  }
  .products__product{
    border: 2px solid;
  border-color: darkgoldenrod;
  margin:15px;
  max-width: 90vw
  }
  .products__product__title{
  @extend .productsTitle__title;
  border-bottom: 2px solid;
  border-color: darkgoldenrod;
  font-size: 1.5em;
  padding: 0;
  margin: 0
  }
  
  .products__product__ingredients{
  @extend .productsTitle__subTitle;
  border-bottom: 0px;
padding: 3px;}
            
  
  .products__product__price{
    font-size: 2em;
    font-weight: bolder;
  }
  .products__chips{
    font-weight: bolder; 
    color: darkgoldenrod!important;
    text-align: center;
  }
  .extras__product{
  color: white!important;
  font-size: 0.8em;
  }

  .extras__price{
  font-weight: bolder;
  }