
/*Normalize*/
@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(122, 9, 15)!important;
    font-size: 20px;
  }

html {
    position: relative; 
     
}

.contenedorEntero {
  background-image: url(../IMG/background-section.jpg);
    height: 100%;
    display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 80px auto 20vh; 
  gap: 0px 0px; 
  grid-template-areas: 
    "Header Header Header"
    "Main Main Main"
    "Footer Footer Footer";
  }

  
  
 
  