
@media screen and (max-width:360px){ 
  .nombre {
    font-size: 1.6em!important;
  }
}
@media screen and (max-width:415px){ 
  .nombre {
    font-size: 2em!important;
    font-weight: bolder;
  }
}

@media screen and (max-width:480px){ 
  
  .nav-link{
      font-size: 13px; 
      padding: 5px!important;
      }
    
    h2 {
       font-size: 2em;
      }
    
    table{  th{
      font-size: 14px;
      }
             td{
                font-size: 13px;
                img{
                    width: 80px;
                    }
                 li{
                font-size: 12px;
                }
            }
     
    }
    footer ul .lista {
    
      margin: 5px;    
      }
    }
    @media screen and (max-width:768px){ 
      .hamburguers{ flex-direction: column;}
      .inline-block{
        width: 100vw!important;
      }  
   
    *{
      font-size: 18px;
    }
  }
       
    
    
    
    @media screen and (max-width:1100px)
    {  
      .articuloNosotros {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
      }
      .sectionNosotros{
        min-height: 260vh;
        padding: 0;
        }

      .imagencostado{
        width: 90vw;
        margin-top: 100px;
      }
      .parrafo2{
        order: 1;
      }
      .nombre {
        font-size: 2.5em;
         }   
    }
     
    
    
    
    